<footer id="footer" class="footer style-06">
    <div class="section-036">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="logo-footer">
                        <img src="assets/images/logo.png" class="az_single_image-img attachment-full" alt="img">
                    </div>
                    <div class="kreen-listitem style-01">
                        <div class="listitem-inner">
                            <ul class="listitem-list">
                                <li>
                                    <span class="icon"><span class="flaticon-localization"></span></span>
                                     số 99, đường 196, xã Nhân Hòa, huyện Mỹ Hào, tỉnh Hưng Yên
                                </li>
                                <li>
                                    <a href="mailto:contact@yourcompany.com" target="_self">
                                        <span class="icon"><span class="flaticon-email"></span></span>
                                       dacthihaiyen@gmail.com </a>
                                </li>
                                <li>
                                    <span class="icon"><span class="flaticon-telephone"></span></span>
                                    0961394881 - 0984110635
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="kreen-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="kreen-listitem style-01">
                        <div class="listitem-inner">
                            <h4 class="title">
                                Customer </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="#" target=" _blank">
                                        Shipping &amp; Returns </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Secure Shopping </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Order Status </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        International Shipping </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Affiliates </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="kreen-listitem style-01">
                        <div class="listitem-inner">
                            <h4 class="title">
                                Information </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="#" target="_self">
                                        Privacy Policy </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Customer Service </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Orders and Returns </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Contact </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Sitemap </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="kreen-newsletter style-04">
                        <div class="newsletter-inner">
                            <div class="newsletter-info">
                                <div class="newsletter-wrap">
                                    <h3 class="title">Fuji Fruits</h3>
                                    <h4 class="subtitle">Hãy đến với Fuji Fruits</h4>
                                    <p class="desc">Để cùng chúng tôi sử dụng những chất lượng đạt tiêu chuẩn cùng những dịch vụ tốt nhất </p>
                                </div>
                            </div>
                            <div class="newsletter-form-wrap">
                                <div class="newsletter-form-inner">
                                    <input class="email email-newsletter" name="email" placeholder="Enter your email ..." type="email">
                                    <a href="#" class="button btn-submit submit-newsletter">
                                        <span class="text">Subscribe</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-016">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Yến Hi Hi <a href="#">Fuji</a>0961394881</p>
                </div>
                <div class="col-md-6">
                    <div class="payment">
                        <img src="assets/images/payment.png" class="az_single_image-img attachment-full" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
