<header id="header" class="header style-02 header-dark header-sticky header-transparent">
    <div class="header-wrap-stick">
        <div class="header-position">
            <div class="header-middle">
                <div class="kreen-menu-wapper"></div>
                <div class="header-middle-inner">
                    <div class="header-search-menu">
                        <div class="block-menu-bar">
                            <a class="menu-bar menu-toggle" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <div class="header-logo-nav">
                        <div class="header-logo">
                            <a href="index.html"><img alt="Kreen" src="assets/images/logo.png"
                                                                     class="logo"></a></div>
                        <div class="box-header-nav menu-nocenter">
                            <ul id="menu-primary-menu"
                                class="clone-main-menu kreen-clone-mobile-menu kreen-nav main-menu">
                                <!-- <li *ngFor="let mn of menus"  id="menu-item-228" class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-228 parent parent-megamenu item-megamenu menu-item-has-children">
                                    <a class="kreen-menu-item-title" title="Pages" href="#">{{mn.tendm}}</a>
                                </li> -->
                                <ng-container *ngFor="let mn of menus">
                                    <li id="menu-item-230"
                                    class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230 parent parent-megamenu item-megamenu menu-item-has-children">
                                        <a class="kreen-menu-item-title" title="Home" href="#" [routerLink] = "[mn.url]"  >{{mn.tendm}}</a>                                       
                                        <span class="toggle-submenu"></span>  
                                        <ng-container *ngFor="let itldm of itemldm">                                        
                                            <ul role="menu" class="submenu" *ngIf="mn.madm == itldm.madm?true:false" >    
                                                <ng-container *ngFor="let itldm of itemldm">                  
                                                    <li *ngIf="mn.madm == itldm.madm?true:false" id="menu-item-987"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-987">
                                                        <a class="kreen-menu-item-title" title="About"
                                                        href="#" [routerLink] = "['loaisanpham',itldm.maloai]">{{itldm.tenloai}}</a></li>   
                                                </ng-container>                                         
                                            </ul>  
                                        </ng-container>                  
                                    </li>
                                </ng-container>


                            </ul>
                        </div>
                    </div>
                    <div class="header-control">
                        <div class="header-control-inner">
                            <div class="meta-dreaming">
                               
                                <!-- Tìm kiếm -->
                                <div class="header-search kreen-dropdown">
                                    <div class="header-search-inner" data-kreen="kreen-dropdown">
                                        <a href="#" class="link-dropdown block-link">
                                            <span class="pe-7s-search"></span>
                                        </a>
                                    </div>
                                    <div class="block-search">
                                        <form role="search" method="get"
                                              class="form-search block-search-form kreen-live-search-form">
                                            <div class="form-content search-box results-search">
                                                <div class="inner">
                                                    <input autocomplete="off" class="searchfield txt-livesearch input"
                                                           name="s" value="" placeholder="Search here..." type="text">
                                                </div>
                                            </div>
                                            <input name="post_type" value="product" type="hidden">
                                            <input name="taxonomy" value="product_cat" type="hidden">
                                            <div class="category">
                                                <select title="product_cat" name="product_cat" id="64788262"
                                                        class="category-search-option"
                                                        tabindex="-1" style="display: none;">
                                                    <option value="0">All Categories</option>
                                                    <option class="level-0" value="light">Healthy</option>
                                                    <option class="level-0" value="chair">Pumpkin</option>
                                                    <option class="level-0" value="table">Leafy green</option>
                                                    <option class="level-0" value="bed">Soybeans</option>
                                                    <option class="level-0" value="new-arrivals">New arrivals</option>
                                                    <option class="level-0" value="lamp">Summer Sale</option>
                                                    <option class="level-0" value="specials">Raw fruit</option>
                                                    <option class="level-0" value="sofas">Cauliflower</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn-submit">
                                                <span class="pe-7s-search"></span>
                                            </button>
                                        </form><!-- block search -->
                                    </div>
                                </div>
                                <div class="kreen-dropdown-close">x</div>
                                <div class="menu-item block-user block-dreaming kreen-dropdown">
                                    <a class="block-link" href="my-account.html">
                                        <span class="pe-7s-user"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--dashboard is-active">
                                            <a href="#">Dashboard</a>
                                        </li>
                                        <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--orders">
                                            <a href="#">Orders</a>
                                        </li>
                                        <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--downloads">
                                            <a href="#">Downloads</a>
                                        </li>
                                        <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--edit-adchair">
                                            <a href="#">Addresses</a>
                                        </li>
                                        <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--edit-account">
                                            <a href="#">Account details</a>
                                        </li>
                                        <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--customer-logout">
                                            <a href="#">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="block-minicart block-dreaming kreen-mini-cart kreen-dropdown">
                                    <div class="shopcart-dropdown block-cart-link" data-kreen="kreen-dropdown">
                                        <a class="block-link link-dropdown" href="cart.html">
                                            <span class="pe-7s-shopbag"></span>
                                            <span class="count">{{total}}</span>
                                        </a>
                                    </div>
                                    <div class="widget kreen widget_shopping_cart">
                                        <div class="widget_shopping_cart_content">
                                            <h3 class="minicart-title">Giỏ hàng của tao<span class="minicart-number-items">{{total}}</span></h3>
                                            <ul class="kreen-mini-cart cart_list product_list_widget">
                                                <ng-container *ngFor="let sp of items">
                                                    <li class="kreen-mini-cart-item mini_cart_item">
                                                        <a href="javascrpit:void(0)" (click)="deleteItem(sp.masp)" class="remove remove_from_cart_button">×</a>
                                                        <a href="#">
                                                            <img src="../../../../assets/images/{{sp.hinhanh}}"
                                                                 class="attachment-kreen_thumbnail size-kreen_thumbnail"
                                                                 alt="img" width="600" height="778">{{sp.tensp}}&nbsp;
                                                        </a>
                                                        <span class="quantity">{{sp.soluong}} × <span
                                                                class="kreen-Price-amount amount"><span
                                                                class="kreen-Price-currencySymbol"></span>{{sp.gia}}</span> đồng</span>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                            <p class="kreen-mini-cart__total total"><strong>Tổng tiền:</strong>
                                                <span class="kreen-Price-amount amount"><span
                                                        class="kreen-Price-currencySymbol"></span>{{totalprice}}</span>
                                            </p>
                                            <p class="kreen-mini-cart__buttons buttons">
                                                <a href="cart.html" class="button kreen-forward">Giỏ hàng</a>
                                                <a href="checkout.html" class="button checkout kreen-forward">Đặt hàng</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile-left">
            <div class="block-menu-bar">
                <a class="menu-bar menu-toggle" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="header-search kreen-dropdown">
                <div class="header-search-inner" data-kreen="kreen-dropdown">
                    <a href="#" class="link-dropdown block-link">
                        <span class="pe-7s-search"></span>
                    </a>
                </div>
                <div class="block-search">
                    <form role="search" method="get"
                          class="form-search block-search-form kreen-live-search-form">
                        <div class="form-content search-box results-search">
                            <div class="inner">
                                <input autocomplete="off" class="searchfield txt-livesearch input" name="s" value=""
                                       placeholder="Search here..." type="text">
                            </div>
                        </div>
                        <input name="post_type" value="product" type="hidden">
                        <input name="taxonomy" value="product_cat" type="hidden">
                        <div class="category">
                            <select title="product_cat" name="product_cat"
                                    class="category-search-option" tabindex="-1"
                            >
                                <option value="0">All Categories</option>
                                <option class="level-0" value="light">Healthy</option>
                                <option class="level-0" value="chair">Pumpkin</option>
                                <option class="level-0" value="table">Leafy green</option>
                                <option class="level-0" value="bed">Soybeans</option>
                                <option class="level-0" value="new-arrivals">New arrivals</option>
                                <option class="level-0" value="lamp">Summer Sale</option>
                                <option class="level-0" value="specials">Raw fruit</option>
                                <option class="level-0" value="sofas">Cauliflower</option>
                            </select>
                        </div>
                        <button type="submit" class="btn-submit">
                            <span class="pe-7s-search"></span>
                        </button>
                    </form><!-- block search -->
                </div>
            </div>
            <ul class="wpml-menu">
                <li class="menu-item kreen-dropdown block-language">
                    <a href="#" data-kreen="kreen-dropdown">
                        <img src="assets/images/en.png"
                             alt="en" width="18" height="12">
                        English
                    </a>
                    <span class="toggle-submenu"></span>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="#">
                                <img src="assets/images/it.png"
                                     alt="it" width="18" height="12">
                                Italiano
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <div class="wcml-dropdown product wcml_currency_switcher">
                        <ul>
                            <li class="wcml-cs-active-currency">
                                <a class="wcml-cs-item-toggle">USD</a>
                                <ul class="wcml-cs-submenu">
                                    <li>
                                        <a>EUR</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-mobile-mid">
            <div class="header-logo">
                <a href="index.html"><img alt="Kreen" src="assets/images/hi.jpg" class="logo"></a>
            </div>
        </div>
        <div class="header-mobile-right">
            <div class="header-control-inner">
                <div class="meta-dreaming">
                    <div class="menu-item block-user block-dreaming kreen-dropdown">
                        <a class="block-link" href="my-account.html">
                            <span class="pe-7s-user"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--dashboard is-active">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--orders">
                                <a href="#">Orders</a>
                            </li>
                            <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--downloads">
                                <a href="#">Downloads</a>
                            </li>
                            <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--edit-adchair">
                                <a href="#">Addresses</a>
                            </li>
                            <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--edit-account">
                                <a href="#">Account details</a>
                            </li>
                            <li class="menu-item kreen-MyAccount-navigation-link kreen-MyAccount-navigation-link--customer-logout">
                                <a href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="block-minicart block-dreaming kreen-mini-cart kreen-dropdown">
                        <div class="shopcart-dropdown block-cart-link" data-kreen="kreen-dropdown">
                            <a class="block-link link-dropdown" href="cart.html">
                                <span class="pe-7s-shopbag"></span>
                                <span class="count">{{total}}</span>
                            </a>
                        </div>
                        <div class="widget kreen widget_shopping_cart">
                            <div class="widget_shopping_cart_content">
                                <h3 class="minicart-title">Giỏ hàng của tao<span class="minicart-number-items">{{total}}</span></h3>
                                <ul class="kreen-mini-cart cart_list product_list_widget">
                                    <ng-container *ngFor="let sp of items">
                                        <li class="kreen-mini-cart-item mini_cart_item">
                                            <a href="javascrpit:void(0)" class="remove remove_from_cart_button">×</a>
                                            <a href="#">
                                                <img src="assets/images/apro201-1-600x778.jpg"
                                                     class="attachment-kreen_thumbnail size-kreen_thumbnail"
                                                     alt="img" width="600" height="778">{{sp.tensp}&nbsp;
                                            </a>
                                            <span class="quantity">{{sp.soluong}} × 
                                                <span class="kreen-Price-amount amount">
                                                    <span class="kreen-Price-currencySymbol"></span>
                                                    {{sp.gia}}
                                                </span> đồng
                                            </span>
                                        </li>
                                    </ng-container>
                                </ul>
                                <p class="kreen-mini-cart__total total"><strong>Subtotal:</strong>
                                    <span class="kreen-Price-amount amount"><span
                                            class="kreen-Price-currencySymbol">$</span>418.00</span>
                                </p>
                                <p class="kreen-mini-cart__buttons buttons">
                                    <a href="cart.html" class="button kreen-forward">Viewcart</a>
                                    <a href="checkout.html" class="button checkout kreen-forward">Checkout</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
