<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="kreen">
                        <div class="kreen-notices-wrapper"></div>
                        <div class="checkout-before-top">
                            
                           <h2 style="text-align: center;">Tiến hành đặt hàng</h2>
                        </div>
                        <form name="checkout" method="post" class="checkout kreen-checkout"
                              action="#" enctype="multipart/form-data"
                              novalidate="novalidate">
                            <div class="col2-set" id="customer_details">
                                <div class="col-1">
                                    <div class="kreen-billing-fields">
                                        <h3>Chi tiết thanh toán</h3>
                                        <div class="kreen-billing-fields__field-wrapper">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Họ tên</label>
                                                <input type="text" #hoten class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                              </div>
                                              <div class="form-group">
                                                <label for="exampleInputEmail1">Nơi giao</label>
                                                <input type="text" #noigiao class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                              </div>
                                              <div class="form-group">
                                                <label for="exampleInputEmail1">Số điện thoại</label>
                                                <input type="text" #sdt class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 id="order_review_heading">Đơn đặt hàng của bạn</h3>
                            <div id="order_review" class="kreen-checkout-review-order">
                                <table class="shop_table kreen-checkout-review-order-table">
                                    <thead>
                                    <tr>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-total">Tổng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="cart_item" *ngFor="let it of cart">
                                        <td class="product-name">
                                            {{it.tensp}}&nbsp;&nbsp; <strong class="product-quantity">×
                                            {{it.soluong}}</strong></td>
                                        <td class="product-total">
                                            <span class="kreen-Price-amount amount"><span
                                                    class="kreen-Price-currencySymbol"></span>{{it.gia}}</span></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr class="order-total">
                                        <th>Tổng tiền</th>
                                        <td><strong><span class="kreen-Price-amount amount"><span
                                                class="kreen-Price-currencySymbol"></span>{{totalpri}}</span></strong>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <input type="hidden" name="lang" value="en">
                                <div id="payment" class="kreen-checkout-payment">
                                    <button type="button" (click) = "checkout(hoten.value,noigiao.value,sdt.value,cart)" class="button alt" name="kreen_checkout_place_order"
                                                id="place_order" value="Place order" data-value="Place order">Place
                                        Đặt hàng
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>