<div class="banner-wrapper has_background">
  
    <div class="banner-wrapper-inner">
        <h1 class="page-title">Tìm kiếm</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="index.html"><span>Trang chủ</span></a></li>
                <li class="trail-item trail-end active"><span>Tìm kiếm</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container shop-page no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="shop-control shop-before-control">
                </div>
                <div class=" auto-clear kreen-products">
                    <ul class="row products columns-3">
                        <ng-container *ngFor="let it of item">
                            <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-ts-6 style-01 post-24 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-table product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock first instock featured shipping-taxable purchasable product-type-variable has-default-attributes"
                            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="#"[routerLink] = "['/chitietsanpham',it.masp]">
                                        <img class="img-responsive"
                                             src="../../../../assets/images/{{it.hinhanh}}"
                                             alt="Cherry tomato" style="width: 600px; height: 350px;">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">New</span></span></div>
                                    <a href="#" class="button yith-wcqv-button" data-product_id="24">Quick View</a>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">Add to Wishlist</a>
                                            </div>
                                        </div>
                                        <div class="kreen product compare-button">
                                            <a href="#" class="compare button">Compare</a>
                                        </div>
                                        <a href="#" class="button yith-wcqv-button">Quick View</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_variable add_to_cart_button">Select
                                                options</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#"[routerLink] = "['/chitietsanpham',it.masp]">{{it.tensp}}</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating"><span style="width:0%">Rated <strong
                                                class="rating">0</strong> out of 5</span></div>
                                        <span class="review">(0)</span></div>
                                    <span class="price"><span class="kreen-Price-amount amount"><span
                                        class="kreen-Price-currencySymbol"></span>{{ it.gia.toLocaleString('vi', {style : 'currency', currency : 'VND'})}}</span></span>
                                </div>
                                <div class="group-button">
                                    <div class="group-button-inner">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">Add to Wishlist</a>
                                            </div>
                                        </div>
                                        <div class="kreen product compare-button">
                                            <a href="#" class="compare button">Compare</a>
                                        </div>
                                        <a href="#" class="button yith-wcqv-button">Quick View</a>
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_variable add_to_cart_button">Select
                                                options</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </ng-container>
                    </ul>
                </div>
                <div class="shop-control shop-after-control">
                    <nav class="kreen-pagination">
                        <!-- <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="next page-numbers" href="#">Next</a> -->
                        <ng-container *ngFor="let i of listtotal">
                            <a class="page-numbers" (click)="changepaize(i)" href="javascript:void(0)">{{i}}</a>
                        </ng-container>
                    </nav>
                    <!-- <p class="kreen-result-count">Showing 1–12 of 20 results</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
